da810

/* naranja viejo f5911b */
/*naranja: #da8105*/
::selection{ background: #da8105; color: #131313 }
*{ margin: 0; padding: 0; }
a{ text-decoration: none; }
li{ list-style: none; }
body{ font-family: 'Montserrat'; overflow-x: hidden; background-image: linear-gradient(to top right, #080b0e , #0e1014); color: white;}
button, input{ font-family: 'Montserrat'; }
.cont80x100{
	width: 90%;
	display: block;
	margin: auto;
}
::selection{
    background-color: #da8105;
    color: #131313
}
main{
    padding: 4vh 0 3vh 0;
    color: white;
    position: relative;
    min-height: 85vh;
}
main>div{
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

main header h1{
    font-size: 2rem;
}
main header h2{
    font-size: .9rem;
    font-weight: 400;
    color: rgb(223, 223, 223);
    margin-top: 3%;
    margin-bottom:10%;
}

#cotizador{

}
#cotizador span{
    font-size: .85em;
    color: rgb(202, 202, 202);
    display: block;
    margin-bottom: 2%;
}
#cotizador>div{
    display: block;
    margin-top: 7%;
    
}

#cotizador>div>div{
    background: rgba(223, 223, 223,.1);
    border-radius: 5px;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.curr-cont-list{
    width: 33%;
    font-size: .75rem;
    position: relative;
 
    height: 100%;
    cursor: pointer;
}
#cotizador input{
    background: none;
    border: none;
    border-right: 1px #a7a7a7 solid;
    width: 60%;
    outline: none;
    font-size: .8em;
    color: rgb(247, 247, 247);
}
.divisas-list{
    position: absolute;
    padding: 15% 5% 10% 5%;
    background: rgba(223, 223, 223,.1);
    width: 100%;
    border-radius: 5px;
    transform: translateX(-25%);
    text-align: center;
    top: 185%;
    box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, .1);
    display: none;
}
.divisas-list li{
    padding: 5% 0;
    transition: .2s;
}
.divisas-list li:hover{
    font-weight: 700
}


#cotizador img{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    filter: invert(.9);
    transition: .2s;
    transform-origin: 50% 0%;
}

/* CSS IMPORTADO PARA EL SELECT */
.select-menu {

    --text: #fff;
    --icon: #fff;
    --icon-active: #3F4656;
    --list: rgb(28, 29, 31); 
    --list-text: rgba(255, 255, 255, .2);
    --list-text-hover: rgba(255, 255, 255, .5);
    position: relative;
    z-index: 1;
    font-weight: 500;
    line-height: 25px;
  }
  .select-menu select,
  .select-menu .button {
    font-family: inherit;
    margin: 0;
    border: 0;
    text-align: left;
    text-transform: none;
    -webkit-appearance: none;
  }
  .select-menu select {
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    opacity: 0;
    padding: 8px 36px 8px 12px;
    visibility: hidden;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 25px;
  }
  .select-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transform: translateY(var(--t));
            transform: translateY(var(--t));
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
    transition: opacity 0.3s ease, -webkit-transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1), -webkit-transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
  }
  .select-menu ul li {
    padding: 8px 0% 8px 10%;
    cursor: pointer;
  }
  .select-menu > ul {
    background: var(--list);
    color: var(--list-text);
    border-radius: 5px;
  }
  .select-menu > ul li {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  .select-menu > ul li:hover {
    color: var(--list-text-hover);
  }
  .select-menu .button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    color: var(--text);
    background: var(--background);
  }
  .select-menu .button em {
    --r: 45deg;
    display: block;
    position: absolute;
    right: 12px;
    top: 0;
    width: 4px;
    height: 4px;
    margin-top: 13px;
    -webkit-backface-visibility: hidden;
  }
  .select-menu .button em:before, .select-menu .button em:after {
    --o: .4;
    content: '';
    width: 4px;
    height: 4px;
    opacity: var(--o);
    display: block;
    position: relative;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-transform: rotate(var(--r)) scale(0.75);
            transform: rotate(var(--r)) scale(0.75);
  }
  .select-menu .button em:before {
    border-left: 2px solid var(--icon);
    border-top: 2px solid var(--icon);
    top: 3px;
  }
  .select-menu .button em:after {
    border-right: 2px solid var(--icon);
    border-bottom: 2px solid var(--icon);
    bottom: -2px;
  }
  .select-menu:not(.open) > ul {
    opacity: 0;
    pointer-events: none;
  }
  .select-menu.open.tilt-up {
    -webkit-animation: tilt-up .4s linear forwards;
            animation: tilt-up .4s linear forwards;
  }
  .select-menu.open.tilt-up .button em:before {
    --o: 1;
  }
  .select-menu.open.tilt-down {
    -webkit-animation: tilt-down .4s linear forwards;
            animation: tilt-down .4s linear forwards;
  }
  .select-menu.open.tilt-down .button em:after {
    --o: 1;
  }
  
  @-webkit-keyframes tilt-up {
    40%,
      60% {
      -webkit-transform: perspective(500px) rotateX(8deg);
              transform: perspective(500px) rotateX(8deg);
    }
  }
  
  @keyframes tilt-up {
    40%,
      60% {
      -webkit-transform: perspective(500px) rotateX(8deg);
              transform: perspective(500px) rotateX(8deg);
    }
  }
  @-webkit-keyframes tilt-down {
    40%,
      60% {
      -webkit-transform: perspective(500px) rotateX(-8deg);
              transform: perspective(500px) rotateX(-8deg);
    }
  }
  @keyframes tilt-down {
    40%,
      60% {
      -webkit-transform: perspective(500px) rotateX(-8deg);
              transform: perspective(500px) rotateX(-8deg);
    }
  }
  
/* TERMINA EL CSS IMPORTADO PARA EL SELECT */


main header button{
    /* background-image: linear-gradient( to top left , #bb721f , rgb(255, 174, 81)); */
    background-color: #da8105;
    padding: 2.5% 4%;
    color: #080b0e;
    font-weight:  700;
    font-size: .85em;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 7%;
    cursor: pointer;
    border: none;
    border: 2px solid #da8105;
    transition: .2s;
    outline: none;
    width: 100%;
}
main header button:hover{
    background: transparent;
    color: #da8105;
}


main>div>div>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   padding: 5% 0;
}

.ticket-currency{
    position: relative;
    width: 47%;
    margin: 7% 0;
}
.ticket-currency>div::after{
    content: '';
    display: block;
    background-color: #0c0e12;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /* border-right: 3px solid transparent;
    border-image: #cc7e25;
    border-image: linear-gradient( #cc7e25 18%, rgb(255, 174, 81) 30%, #cc7e25 80%);
    border-image-slice: 1; */
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: aparecete;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.18,.5,.46,.99);
    /* transform: rotateX(90deg); */
}

@keyframes aparecete{
    0% { width: 100%;  }
    100% { width: 0%; }
}
.ticket-currency>div::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-right: 3px solid transparent;
    border-image: #cc7e25;
    border-image: linear-gradient( #cc7e25 18%, rgb(255, 174, 81) 30%, #cc7e25 80%);
    border-image-slice: 1;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-name: doblez;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.18,.5,.46,.99);
    transform: rotateX(90deg);
}

@keyframes doblez{
    0% { transform: rotateX(90deg); width: 100%; }
    50% {  transform: rotateX(0deg); width: 100%; }
    100% {  transform: rotateX(0deg); width: 0%;  }
}

.ticket-currency:nth-child(2)>div:after{ animation-delay: .3s; }
.ticket-currency:nth-child(2)>div::before{ animation-delay: .6s; }

.ticket-currency:nth-child(2)>div:after{ animation-delay: 2.1s; }
.ticket-currency:nth-child(2)>div::before{ animation-delay: 1.1s; }

.ticket-currency:nth-child(3)>div:after{ animation-delay: 2.4s; }
.ticket-currency:nth-child(3)>div::before{ animation-delay: 1.4s; }

.ticket-currency:nth-child(4)>div:after{ animation-delay: 2.7s; }
.ticket-currency:nth-child(4)>div::before{ animation-delay: 1.7s; }


.ticket-currency>div{
    /* border-left: 3px solid transparent;
    border-image: #cc7e25;
    border-image: linear-gradient( #cc7e25 18%, rgb(255, 174, 81) 30%, #cc7e25 80%);
    border-image-slice: 1; */
    padding: 1% 1% 1% 5%;
    margin: 2% 0;
}
.ticket-currency h4{
    font-size: 1em;
    /* margin-left: 5%; */
    color: rgb(243, 243, 243);
}
.barrita-curr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.barrita-curr>div{
  
    /* min-width: 230px; */
    display: flex;
    align-items: center;
}
.barrita-curr>div>div{
    height: 1rem;
    display: none;
    
}
.barrita-curr img{
    height: 100%;
    filter: invert(.8);
}
.barrita-curr span{
    display: block;
    /* margin: 5% 0; */
    font-size: .75em;
    color: rgb(55, 99, 44);
    font-weight: 700;
    position: relative;
}
/* .barrita-curr span:after{
    content: ' >';
    position: absolute;
    left: 130% ;
    top: 5%;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
} */

.ticket-currency p{
    color: #c0c0c0;
    font-size: .7em;
    font-weight: 400;
    letter-spacing: .25px;
    margin: 1% 0;
}
.ticket-currency p span{
    font-weight: 600;
}

#scroll-cont{
    width: 5vw;
    padding: 0 5% 7% 5%;
    /* background-color: red; */
    display: block;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
    perspective: 350px;
}
#scroll-cont img{
    filter: invert(.8);
    width: 100%;
    transition: .2s;
    cursor: pointer;
    animation-name: flechin;
    animation-duration: .6s;
    animation-delay: 4.75s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.18,.5,.46,.99);
    transform: translateY(400%);
}
@keyframes flechin{
    0% { transform: translateY(400%) }
    100% { transform: translateY(0%) }
}

#scroll-cont img:hover{
    filter: drop-shadow(0px 0px 1.5px black) invert(1);
}
#scroll-cont>div{
    position: absolute;
    bottom: -4.5%;
    left: 50%;
    border-radius: 55%;
    background: rgba(255,255,255,.1);
    background-image: linear-gradient(to bottom, rgba(255,255,255,.2), black 77%);
   
    width: 20px;
    height: 20px;
    transition: .3s;
    border: 1px solid white;
    transform-style: preserve-3d;
    transform: rotateX(74deg) translateX(-50%) scale(0);
    animation-name: blackhole;
    animation-duration: 4.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.18,.5,.46,.99);
    box-shadow: 0px -6px 6px 2px rgba(255,255,255,.3), 0px -23px 19px 2px rgba(255,255,255,.2)
}
@keyframes blackhole{
    0% { transform: rotateX(74deg) translateX(-50%) scale(0); }
    12% { transform: rotateX(74deg) translateX(-50%) scale(1.5); }
    88% { transform: rotateX(74deg) translateX(-50%) scale(1.5); }
    100% { transform: rotateX(74deg) translateX(-50%) scale(0); }
}


/* seccion steps */
#pasos-art{
    padding: 10vh 0;
}
#pasos-art header>h3{
    font-size: 1.8rem;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
}
#pasos-cont{
    width: 90%;
    display: block;
    margin: auto;

}
#pasos-cont>div{
    position: relative;
}

#pasos-cont>div>div{
    display: flex;
    position: relative;
    margin: 10% 0;
    z-index: 5;
}
.step-img-cont{
    width: 40%;
    position: relative;
}
.step-img-cont>img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    transition: .2s;
    /* opacity: 0.1; */
    filter: brightness(0.1);

}

.step-num-cont{
    width: 20%;

}
.step-num-cont>div{
    width: inherit;
    /* display: inline-block; */
    margin: auto;
    border-radius: 5px;
    text-align: center;
    background-color: #0a0d10;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0.8);
    padding: 20%;
    font-size: 1.1em;
    font-weight: 700;
}
.step-num-cont p{
    /* color: #da8105; */
    color: black;
    /* transition: .35s; */
}
.step-text-cont{
    width: 40%;
    padding-top: 2%;
}
.step-text-cont h6{
    color: #da8105;
    font-size: 1em;
    margin-bottom: 2.5%;
}
.step-text-cont p{
    font-weight: 300;
    color: silver;
    font-size: .75em;
}
#paso2{
    text-align: right;
}
/* #paso2 .step-img-cont>img{
    lef: 50%;
    transform: translateX(50%);
} */


.progress-chain{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    top: 0%;
}
.progress-chain>div{
    position: relative;
    width: 100%;
    height: 100%;
}

.linea-negra{
    display: block;
    position: absolute;
    width: 1%;
    height: 33vh;
    background: #0a0a0a;
    top: 130%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;
}
.linea-naranja{
    display: block;
    position: absolute;
    width: 1%;
    /* height: 33vh; */
    top: 130%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;

    height: 0%;
    background: #da8105;
    transition: .7s;
}
.chains-cont{
    position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    border-radius: 55px;
    z-index: 2;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.3);
    padding: 01%;
    background: #0a0d10;
    transition: .25s;
}
.chains-cont>div{
    position: relative;
    width: 100%;
    height: 100%;
}

.progress-chain img{   
    width: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
}
.link-naranja{
    display: none;
}
#paso3>div{
    margin-bottom: 0%!important;
}
/* moneda */
#step-coin{
    width: 100%;
    height: 5vh;
    position: relative;
}
#coin-cont{
    position: absolute;
    width: 5%;
    height: 85%;
    top: -200%;
    left: 50%;
    transform: translate(-40%, 0%);
    transition: .25s;
    z-index: 4;
    opacity: 0;
    filter: drop-shadow(0px 0px 22px rgba(255,255,255,0.35));
}
.caidaGrav{
    animation-name: caidaGravity;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.14,.67,.23,1);  
    /* animation-timing-function: cubic-bezier(.41,.76,.79,.9);   */
}

@keyframes caidaGravity{
    0% { transform: translate(-40%, 0%); opacity: 1;}

    75%{ transform: translate(-40%, 600%); opacity: 1;}
    100% { transform: translate(-40%, 700%); opacity: 0;}
}

#coin-cont>div{
    transform-origin: 0% 0%;
    transform: scale(.1);
}

#celu-cont{
    min-height: 45vh;
    width: 110.5%;
    transform: translateY(-15%);
    margin-left: -5.5%;
}
#celu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 150%;
    z-index: 1;
    transition: .25s;    
}
.iconos-celu{
    top: 50%;
    left: 50%;
    transform: translate(-55%,-50%) rotate(-30deg);
    width: 25%;
    position: absolute;
    z-index: 3;    
}


/* seccion graficos */
#graf-secc{
    padding: 7vh 0;
}
#graf-secc header h3{
    font-size: 1.8em;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}
#graf-great-cont{
    width: 80%;
    margin:auto;
    border-radius: 5px;
    background-color: #0a0d10;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0.8);
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#divisas-col{
 
    display: flex;
    justify-content: space-between;
}
#divisas-col>div{
    width: 20%;
    border-radius: 5px;
    background-color: #0c0f13;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0.8);
    padding: 7.5% 0%;
    /* margin: 20% 0; */
    text-align: center;
}
#divisas-col>div p{
    font-size: .85em;
    font-weight: 700;
    
}
#active-coin-info{
    padding: 10% 2%;

}
#active-coin-info h4{
    font-size: 2.3em;
}
#active-coin-info h5{
    font-size: 1.6em;
}
#active-coin-info h5 span, #active-coin-info ul p{
    color: #da8105;
}
#active-coin-info ul span{
    color: white;
}
#active-coin-info>div:last-child{
    padding: 1% 10%;
}
#active-coin-info ul li{
    font-size: .85em;
    margin: 3% 0;
    font-weight: 600;
}

#graf-cont{
    height: 33vh;
    background: #f0f0f0;
}



/* seccion porque cryptos */
#porq-secc{
    padding: 10vh 0 7vh 0;
}
#porq-secc>div{
    width: 90%;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}
#porq-secc>div>div{
    width: 100%;
    height: 40vh;
    position: relative;
}
#porq-secc>div>div img{
    width: 100%;
    top: -10%;
    left: 0;
    position: absolute;
}

#porq-secc>div header{
}
#porq-secc header h5{
    font-size: 1.8em; 
}

#porq-secc header ul{
    padding: 1% 5%;
    font-size: 0.75em;
    font-weight: 300;
    color: #afafaf;
}
#porq-secc header li{
    display: flex;
    align-items: flex-start;
    transition: .4s;
    opacity: 0;
    transform: translateX(-10%);
    justify-content: space-between;
    margin: 10% 0;
}
#porq-secc header li>div{
    border-radius: 5px;
    background-color: #0a0d10;
    box-shadow: -2px 2px 4px -1px rgba(0,0,0.8);
    padding: 4% 5%;
    /* width: 10%; */
}
#porq-secc header li img{
    width: 18px;
}   
#porq-secc header li p{
    padding-left: 5%;
}
/* franja counter */
#counter-cont{
    padding-bottom: 10vh;
    width: 70%;
    margin: auto;
}
#counter-cont>div{
    margin: 5% 0;
    display: flex;
}
#counter-cont>div:first-child span:before{
    content: '+';
}

#counter-cont>div span{
    display: block;
    text-align: left;
    width: 100%;
    font-size: 2.5em;
    font-weight: 700;
    background: linear-gradient( #da8105 65%, #f7911c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 2px rgb(0,0,0));
}


#counter-cont>div p{
    color: #efefef;
    text-transform: uppercase;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    /* text-align: center; */
    font-size: .85em;
    margin-left: 6%;
    font-weight: 600;
    
}

footer{
    border-top: 1px rgb(41, 41, 41) solid;
    padding: 8% 0% 3% 0;
    background-color: #080808;
    color: #ddd;
    font-size: .9em;
    font-weight: 600;
    
}
footer>div{
    width: 90%;
    margin: auto;
}
footer a{
    color: inherit;
}

footer>div>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
footer>div>div p{
    font-size: .7em;
    text-align: center;
    margin-top: 5%;
}
footer span{
    position: relative;
    margin: 3% 0;
}
footer>aside>a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: .7em;
    text-align: center;
    opacity: .7;
    transition: .2s;
    width: fit-content;
    margin: auto;
    margin-top: 7%;

}
footer>aside>a:hover{
    opacity: 1;
}

footer>aside img{
    cursor: pointer;
    margin-left: 7px;
    position: relative;
}


footer>aside img:after{
    content: 'plannet.cc';
    
    position: absolute;
    /* right: -125%; */
    /* transform: translateX(-50%); */
    /* opacity: 0; */
    transition: .2s;
}

